In [45]:
"""

"""
import pandas as pd

from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

In [46]:
def read_pickle(path):
    """Read a pickle file.
    """
    return pd.read_pickle(path)

In [47]:
reviews_cv = read_pickle('../data/processed/buscape_counter_vectorized.pkl')
reviews_tv = read_pickle('../data/processed/buscape_tfidf_vectorized.pkl')  
reviews_gv = read_pickle('../data/processed/buscape_glove_s50_vectorized.pkl')

In [48]:
reviews_cv.head()

,original_index,achei,acho,agora,ainda,além,aparelho,apenas,aqui,bastante,...,tv,usar,uso,vale,valor,vem,vezes,ótima,ótimo,polarity
0,4_55516,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
1,minus_1_105339,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
2,23_382139,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1.0
3,2_446456,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1.0
4,0_11324,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1.0

In [49]:
reviews_tv.head()

,original_index,achei,acho,agora,ainda,além,aparelho,apenas,aqui,bastante,...,tv,usar,uso,vale,valor,vem,vezes,ótima,ótimo,polarity
0,4_55516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0
1,minus_1_105339,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0
2,23_382139,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.349111,0.0,0.0,0.0,0.0,0.0,0.307764,0.0,1.0
3,2_446456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.557760,0.0,1.0
4,0_11324,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.411994,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.0

In [50]:
reviews_gv.head()

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,4_55516,0,-0.505194,-5.258832,-2.558232,-14.126455,1.254514,-0.159337,-0.264254,-0.420831,...,-1.666295,0.100782,0.407898,3.370718,0.468717,1.565112,-5.717022,-0.270108,-0.023164,1.0
1,minus_1_105339,0,-0.345296,0.021938,-0.421005,-3.905408,0.229204,0.490844,0.388737,0.426846,...,0.353611,-0.151610,-0.283253,0.222371,0.249038,0.840495,-0.145963,1.126054,-1.262863,1.0
2,23_382139,0,0.204053,-3.290582,-4.165740,-14.781974,0.537459,-0.605357,3.134963,3.305892,...,-1.775047,1.604656,-1.536050,-0.414184,1.119274,1.140087,-4.853476,-1.484016,-3.290981,1.0
3,2_446456,0,-0.318760,-0.469217,-3.177627,-9.524106,-1.834537,-0.589546,0.195963,-0.082686,...,-0.756618,1.448405,0.302610,0.439882,0.116350,1.043882,-2.909157,-2.304275,-0.646020,1.0
4,0_11324,0,-1.428227,-1.543352,-0.989623,-15.837947,-3.343933,2.344591,-1.032179,0.700109,...,-0.877178,-0.336693,0.613263,1.621126,2.594646,0.981895,-6.603691,-1.009780,-2.920937,1.0

In [51]:
def extract_test_train(data):
    X, y = data.iloc[:, 1:-1], data.iloc[:, -1]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=20220912)

    return X_train, X_test, y_train, y_test

def train_model(X_train, y_train):
    model = GaussianNB()
    model.fit(X_train, y_train)
    return model

def evaluate_model(model, X_test, y_test):
    y_pred = model.predict(X_test)
    return accuracy_score(y_test, y_pred)

In [52]:
X_train_cv, X_test_cv, y_train_cv, y_test_cv = extract_test_train(reviews_cv)
model = train_model(X_train_cv, y_train_cv)
accuracy = evaluate_model(model, X_test_cv, y_test_cv)
print(f"Counter vectorized yield {accuracy} of the accuracy")

Counter vectorized yield 0.583 of the accuracy

In [53]:
X_train_tv, X_test_tv, y_train_tv, y_test_tv = extract_test_train(reviews_tv)
model = train_model(X_train_tv, y_train_tv)
accuracy = evaluate_model(model, X_test_tv, y_test_tv)
print(f"TF-IDF vectorized yield {accuracy} of the accuracy")

TF-IDF vectorized yield 0.523 of the accuracy

In [54]:
X_train_gv, X_test_gv, y_train_gv, y_test_gv = extract_test_train(reviews_gv)
model = train_model(X_train_gv, y_train_gv)
accuracy = evaluate_model(model, X_test_gv, y_test_gv)
print(f"Glove vectorized yield {accuracy} of the accuracy")

Glove vectorized yield 0.64 of the accuracy